<!DOCTYPE html>
<html>
<head>
    <title>New Project</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div class="header1">
        <form class="weather-search">
            <input type="text" id="address" placeholder="Enter country">
            <button type="submit" id="find-weather">Find Weather</button>
        </form>
    </div>
    <script defer src="/js/script.js"></script>
</body>
</html>
